*{
    padding: 0px;
    margin: 0px;
}

body{
  overflow-x: hidden;
}

.sucasa{
 background-image: url("../img/accidente2.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}
   

.dispositivo{ 
   display:flex;
    .foto:hover{
      filter:blur(3px)
    }
    
  }

  /*overflow: hidden;
      -webkit-transform:scale(1.2);transform:scale(1.2);*/

/*filter:blur(3px)*/

h2 {
    background-color: nth($colores, 1);
    text-align: center;
    color: nth($colores, 4);
    font-family:map-get($cabecera, font-family);
    font-size: nth($size, 1);
    padding: 20px;
  }
  
h3 {
    font-family: inter;
    align-items: center;
    color: nth($colores, 2);
    padding: 30px;
  }

header{
    margin: 40px;
    h1{
        font-family:map-get($cabecera, font-family);
        font-size: 80px;
        text-align: center;
        font-family: courgette;

    }
}





.f1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:nth($colores, 1);
    

}

footer{ 
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  background-color: rgb(162, 161, 162);
  margin: 35px;

  h1{
    font-size: 15px;
    margin: 20px;
    color: red;
  } 
  h4{
    font-size: 20px;
    margin: 10px;
    color: red;
    padding: 10px;
  
  } 
}


.interes{
      flex-wrap: wrap;
      justify-content: center;
      font-family: courgette;
      color: black;
  }
  

 

nav{
   font-family: courgette;
   margin: 20px;
   display: inline-block;
 
    a{
      font-size: 15px;
      margin:30px;
      color: black;
      text-decoration: none;
   
  }

}





section{
  display: inline-block;
   @include section;
    .parrafo1{
      @extend %parrafo
        
  }
}

.obra1{
  margin: 60px;
  justify-content: space-around;
}

.menu{
  position:fixed;
  z-index: 1; 
  padding: 10px;
  margin: 20px;

}

.container-fluid{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parrafo2{
    background-color: none;
    padding: 20px;
    width: 520px;
    margin: 60px;
  }


/*suscripcion*/

  .suscripcion{
    flex-direction: column;
    margin: 25px;   
    form{
      display: flex;
      flex-wrap:wrap;
      border-radius: 5px;
      
      & > input {
          flex: 5 1 10ch;
          border-radius: 5px;
              
        &[type="email"] {
          width: 90px;
          height:40px;
          border-radius: 5px;
        }
      }
    }
    
    input {
      border: none;
      background: nth($colores, 3);
      border-radius: 0.3px;
      margin:20px;
      
      &[type="submit"] {
        background: nth($colores, 2);
        color: nth($colores, 4)
      }
    }
    
  }


  @media only screen and (max-width: 767px) {
    .dispositivo {
      display: none;
    }
  
    .paginasenfooter{
      display: flex;
      display: inline-block;
    }
    
  }



