@mixin section{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@mixin footer{
    font-size: 15px;
    color: black;
    text-decoration: none;
    flex-flow: row nowrap;
    text-decoration:none;
    align-items: center;
    margin: 20px;
   
}

@mixin barra{
    font-size: 15px;
    color: black;
    text-decoration: none;
}